x = 14px
txt = #222
dim = #999
hl = hsl(25,100,50)

df()
  s x
  lh 1.5
  ff sans
  c #333

lhue = 210
link = hsl(lhue,100,50)
hover = hsl(lhue,100,60)

@import 'n/index'
@import 'm/all'

anchor()
  c link
  td none
  &:hover, &:focus
    c hover
a
  anchor()

body
  df()
  bg m242

  #content
    cnt()
    w 962px
    p 1.5em 0
    bg #fff
    b 1px solid #ddd
    border-radius 5px

    p.tagline
      f 2em sans
      m 0 0 1.5em

  .avatar-50
    w 50px
    float left
    .placeholder
      r 50px
      bg b4
      b 1px solid #ddd
      lh cw
      ta center
      c dim

  .avatar-160
    col 2
    .placeholder
      r cw*2
      bg b4
      b 1px solid #ddd
      lh cw*2
      ta center
      c dim

  #main
    col 8
    pr 1.5em
    section
      bt 1px solid #ddd
      mb 3em
      header
        clearfix()
        mb 1.5em
        h2
          c dim
          tt uppercase
          lh 2em
          pl 3px
      .content
        ul.feed
          li
            clearfix()
            m 0 0 1em
            .content
              w cw*8 - 50px - x*1.5
              float left
              p 0 cw*2 0 .5em

  #sidebar
    col 4
    section
      mb 3em
      pl 1.5em
      clearfix()
      header
        mb 1.5em
        h2
          tt uppercase
          c dim

@import 'partials/forms'
@import 'partials/header'
@import 'partials/footer'
@import 'sections/index'
@import 'sections/user_new'
@import 'sections/user_home'
@import 'sections/user_show'
@import 'sections/results'
@import 'sections/links'
@import 'sections/messages'
@import 'sections/settings'
@import 'sections/mentees'
@import 'sections/task_show'
@import 'sections/uni_show'
