body.home.index
  #sidebar
    pl x*3
  
    a.mentor
      d block
      m 0 0 x*3
      ta right

    ul.faces
      li
        f bold 4em sans
        ta center
        c #bbb
        aa()
        ls -3px
        w cw*4 - x*6
        lhh cw*4 - x*6
        b 1px solid #ddd
        bg m250
        border-radius 5px
        m 0 0 x*3
