body.home.index
  #main
    ml 1.5em
    pr 0
  #sidebar
    w cw*4 - x*1.5
    bg #fff
  
    a.mentor
      d block
      m 0 x*1.5 x*3
      ta right

    ul.faces
      pl x*3
      li
        f bold 4em sans
        ta center
        c #bbb
        aa()
        ls -3px
        w cw*4 - x*7.5
        lhh cw*4 - x*7.5
        b 1px solid #ddd
        bg b4
        border-radius 5px
        m 0 0 x*3
