body.links.index
  #content
    p 0
    section
      bb 1px solid #ddd
      p 0 0 1em
      &.mentors
        bt none
        header
          border-radius 4px 4px 0 0
      &.hs
        bb none
        .content
          p 0 0 0 1.5em
          ul li a
            w cw - x*1.144
            lhh cw - x*1.144

      header
        clearfix()
        bt 1px solid #fff
        background linear-gradient(top, m250, m255)
        h2
          f 2em/2 sans
          col 8
          p 0 x*1.5
        form
          col 4
          p x x*1.5
          input
            w 100%
      .content
        p 0 .5em 0 1.5em
        ul
          clearfix()
          li
            float left
            m 0 1em 1em 0
      
            a
              d block
              w cw*2 - x*1.333334
              lhh cw*2 - x*1.333334
              bg b4
              b 1px solid #ddd
              c dim
              fw bold
              ta center
