body.tasks.show
  #content
    d block
    form
      span 6
      m 0 cw*3
      ul.rows
        li.row
          p .5em 1em 1em
          input[type=text], textarea
            w 100%
          textarea
            h 9em
          &.submit
            ml cw
