body.users.new
  #content
    form.register
      clearfix()
      fieldset
        clearfix()
        &.avatar
          col 4
          ta center
          w cw*4 - 1px
          .placeholder
            w cw*3
            f bold 2em sans
            c dim
            lhh cw*3
            bg #fff
            b 1px solid #ddd
            m cw*.5 cw*.5 0 cw*.5 - 1px
          a
            lh 2em
  
        &.details
          col 8
          w cw*8 - 2px
          bl 1px solid #ddd
