body.user.home
  #sidebar
    section
      &.profile
        .text
          w cw*4 - 50px - x*1.5
          float left
          pl .5em
          h2
            f 1.5em/1.3 sans
      &.important-tasks
        h3.date
          c #f00
        ul.tasks
          mb .5em
          list-style disc
          pl 2em
          li
            mb .5em
        p
          pt 1em
