header.site
  bb 1px solid #ccc
  box-shadow #fff 0 1px 0
  m 0 0 .5em
  background linear-gradient(top, m240, m230)

  nav
    cnt()
  &.logged-in
    ul
      li
        float left
        relative()
        p 0 .25em
        a
          d block
          &.icon
            r 32px
            border-radius 3px
            b 1px solid #ddd
            m 5px 0
            &:active
              bgc b4
              bc #aaa
            img
              d block
              r 24px
              m 3px
              opacity .75
        &.active a.icon
          bc #bbb
          background b10
          box-shadow inset b10 0 0 5px

        &.branding
          float left
          p 0 1em
          img
            h x*2
            m x*.5 0
        &.star
          span.alerts
            d block
            absolute top 2px right -2px
            s 70%
            lhh x
            w x
            bg #f00
            c #fff
            ta center
            border-radius x*.5
        &.search
          p .5em 1em
          col 6
          input[type=text]
            border-radius 1em
            pl .5em
            w 100%
          

  &.logged-out
    ul
      clearfix()
      li
        &.branding
          col 4
          p 24px 0
        &.login
          col 8
          p 1.5em 0 .75em cw*2
          clearfix()
          ul.fields
            li.field
              col 2
              p 0 .5em
              input[type=email], input[type=password]
                w 100%
              input[type=submit]
                p 0 1.5em
            li.link
              p 0 x*.5
              s 75%
              lh x*1.5
              a
                c txt
                &:hover
                  c hover
